<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  {% load static %}
  <title>RegistrationForm</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link rel="stylesheet" href="register.css">
  <link rel="stylesheet"  href="{% static 'register.css'%}">
</head>

<body>
	<div class="container" align = "center">
		<div class="title">RegistrationForm</div>
		<form action="." method = "POST" >
			{%csrf_token%} 
			<div class="user-details">
				<div class="input-box">
					<span class="details">Student name</span>
					{{form.stdname}}
					{% comment %} <input type="text" placeholder="Enter your fullname" required name="stdname"> {% endcomment %}
				</div>
				<div class="input-box">
					<span class="details">Student number</span>
					{{form.std_personal_No}}{% comment %} <input type="number" placeholder="Enter a valid number" required name="personal_No"> {% endcomment %}
				</div>
				<div class="input-box">
					<span class="details">Email</span>
					{{form.email}}
					{% comment %} <input type="mail" placeholder="Enter your user email" required name="email"> {% endcomment %}
				</div>
				<div class="input-box">
					<span class="details">Password</span>
					{{form.password}}
					{% comment %} <input type="password" placeholder="Enter to use Password" required name="password"> {% endcomment %}
				</div>
			</div>
			<div class="button"> 
				<input type="submit" value="Register">
			</div>
			<p>Already have an account? Click <a href="../std_login/">LogIn</a> to continue..</p></p>
			<br>Go to <a href = "../">previous page</a>
		</form>

	</div>
</body>
</html>